:root {
    --text-color: white;
    --color1: #634d0e;
    --color2: #000000;
  }

  @import url('https://fonts.cdnfonts.com/css/apple-chancery');
  
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(
        var(--color1),
        var(--color2)
      );
      background-repeat: no-repeat;
      color: var(--text-color);
      font-family: system-ui, -apple-system, BlinkMacSystemFont;
  }

  body {
    margin: 0;
  }
  
  main {
    margin: 0;
    padding: 10% 18% 1% 18%;
    text-align: justify;
  }

  #nav-bar {
    width: 100%;
    overflow: hidden;
    position: fixed; 
    background:  rgba(66, 66, 60, 0.4);
  }

  #nav-list {
    list-style-type: none;
    overflow: hidden;
    display: flex;
  }

  #nav-list li {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  .nav-link img {
    margin-right: 24px;
  }
  
  .nav-link.text {
    display: block;
    text-align: center;
    padding-left: 18px;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  
  .nav-link.text:hover {
    color: yellow;
    background: linear-gradient(
      #42423c,
      var(--color2),
      var(--color1)
      );
  }

  
  form, h3 {
    text-align: center
  }
  
  footer {
    font-style: italic;
    font-size: 0.8em;
    padding-top: 2px;
    text-align: center;
  }
  
  footer a {
    color: yellow;
  }
  
  #submit {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
  }
  
  #video-container {
    display: flex;
    width: 50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #video {
    flex: 1 1 500px;
  }

  #video-text {
    text-align: center;
  }

  h1, h2 {
    text-align: center;
    font-family: 'Apple Chancery', sans-serif;
  }
  
  h3  {
    font-size: 1.2em;
  }
  
  .features-container {
    display: flex;
    text-align: center;
  }

  .feature {
    flex: 1;
    margin: 20px;
  }

  .feature img {
    width: 95%;
    max-width: 200px;
  }
  
  .features-container h3, .features-container p {
    text-align: center;
  }
  
  .features-container h3 {
    text-decoration: underline;
  }
  
  .features-container p {
    font-style: italic;
  }
  
  a:link { text-decoration: none; }
  
  a:visited { text-decoration: none; }
  
  a:hover { text-decoration: none; }
  
  a:active { text-decoration: none; }

  .price {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-left: 15px;
  }

  .choco-container {
    display: flex;
    justify-content: center;
  }

  .choco-price {
    flex: 1;
  }
  
  .choco-price img {
    max-width: 150px;
  }
  
  .choco-price p {
    font-style: italic;
    text-align: center;
  }
  
  #main-start {
    margin-top: 40px
  }
  
  #email {
    width: 220px;
    height: 35px;
  }
  
  @media only screen and (max-width: 600px) {
    #nav-list li {
      font-size: 0.70rem;
      left: 15%;
    }

    main {
      margin-left: auto;
      margin-right: auto;
      padding: 20% 5% 5% 5%;
    }
  }